form {
    padding: $forms-padding-y $forms-padding-x;
    font-size: $input-font-size;
    line-height: $input-form-line-height;
    font-weight: $font-weight-normal;
    border-radius: $input-border-radius;
}