$border-radius:.375rem !default;

//
// Fonts
//
$font-weight-normal: 300 !default;
$font-weight-bold: 500 !default;

//
// Headings
//
$h1-font-size: 3.052rem !default;
$h2-font-size: 2.441rem !default;
$h3-font-size: 1.953rem !default;
$h4-font-size: 1.563rem !default;
$h5-font-size: 1.25rem !default;
$h6-font-size: 1rem !default;

$h1-line-height: 3rem !default;
$h2-line-height: 2.25rem !default;
$h3-line-height: 2.25rem !default;
$h4-line-height: 2rem !default;
$h5-line-height: 1.5rem !default;
$h6-line-height: 1.5rem !default;

$headings-margin-bottom: .75rem !default;
$headings-font-weight: 400;
$headings-line-height: 1.1;
$headings-letter-spacing: -.0625rem !default; // ~1px
$headings-groups-margin-top: 2.25rem !default; // ~36px

//
// Displays
//
$display1-font-size: 7.451rem !default;
$display2-font-size: 5.96rem !default;
$display3-font-size: 4.768rem !default;
$display4-font-size: 3.815rem !default;

$display-line-height: 1;
$display-margin-bottom: 0.75rem !default;

//
// Paragraphs
//
$paragraphs-margin-bottom: 1.75rem !default;

//
// Horizontal Rules
//
$horizontalrule-margin-top: 1.125rem !default;
$horizontalrule-margin-bottom: 1.125rem !default;

//
// BlockQuotes
//
$blockquote-font-size: 1.5rem !default;
$blockquote-footer-font-size: 1.125rem !default;
$blockquote-margin-bottom: 0.75rem !default;


//
// Buttons
//
$input-btn-padding-x:1rem !default;
$input-btn-padding-y:.664rem !default;

//
// Forms
//
$forms-padding-x:1rem !default;
$forms-padding-y:.664rem !default;
$input-form-line-height: 1.125rem !default;
$input-font-size: .95rem !default;
$input-border-radius: $border-radius !default;